.m-imgur-post {
	margin-bottom: 2em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	.description {
		border-style: solid;
		border-radius: 5px;
		border-color: _palette(postcard-white);
		border-width: 1px;
		border-top-width: 0px;
		margin: 0;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		width: 640px;
		max-width: 75vw;
		margin-top: -0.6em;
		background-color: _palette(postcard-white);
		color: black;
		padding: 1rem;
	}

	a {
		position: relative;
		border: none;
		cursor: pointer;

		span {
			position: absolute;

			&:nth-child(1) {
				font-size: 40px;
				font-weight: 500;
				text-shadow: 2px 2px #292828e6;
				background-color: rgba(0, 0, 0, 0.75);
				padding: 0 0.5rem;
				border-radius: 10px;
			}

			&:nth-child(2) {
				bottom: 4px;
				right: 2%;
				font-size: 32px;
				text-shadow: 2px 2px #292828e6;
			}
		}
	}

	img {
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border: 1px _palette(postcard-white) solid;
		width: 640px;
		max-width: 75vw;
		border-bottom: 0;
		border-top: 0;
		background-color: rgba(0, 0, 0, 0.7);
		padding: 0.5em;
		padding-top: 0.1em;
		max-height: 50vh;
		height: 100vh;
	}

	@include breakpoint('>=medium') {
		.description {
			margin-top: -0.4em;
		}
	}
}

body.archive {

	#header {
		.content {
			.inner {
				overflow: visible !important;
			}
		}
	}

	.m-imgur-post {
		backface-visibility: hidden;
		position: relative;

		&:nth-child(even) {
			transform: rotate(5deg) scale(0.8);
			margin-left: 20vw;
			margin-top: -35vh;
		}

		&:nth-child(odd) {
			transform: rotate(-5deg) scale(0.8);
			margin-right: 20vw;
			z-index: 100;
		}
	}

	#biketagUploadForm .m-imgur-post,
	.m-imgur-post.s--popup {
		transform: unset;
		margin-left: unset;
		margin-top: unset;
		margin-right: unset;
		z-index: unset;
		width: 75vw;

		.description {
			width: unset;
			height: unset;
		}
	}
}

#tagit {
	#biketagUploadForm {

		#heading span {
			display: none;
		}

		.m-imgur-post {
			margin: auto;
			position: relative;
			max-width: 85%;

			.close {
				top: -15px;
				width: 3rem;
				height: 3rem;
				transform: scale(0.75);
				right: 10%;
			}

			img {
				max-width: 17em;
				border-radius: 10px;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				border-top: 1px _palette(postcard-white) solid;
				max-height: 25em;
				height: 100%;
			}

			.description {
				max-width: 14.2em;
				font-size: 1.2em;
				margin: auto;
				margin-top: -0.5em;
			}
		}
	}
}
