.m-imgur-post {
	margin-bottom: 2em;
	
	.description {
		border-style: solid;
		border-radius: 5px;
		border-color: floralwhite;
		border-width: 1px;
		border-top-width: 0px;
		margin: 0;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
        width: 640px;
		max-width: 75vw;
		margin-top: -0.6em;
		background-color: floralwhite;
    	color: black;
	}

	a {
        position: relative; 
        border: none;
		cursor: pointer;

        span {
            position: absolute;

            &:nth-child(1) {
                font-size: 40px;
                font-weight: 500;
                text-shadow: 2px 2px #292828e6;
                background-color: rgba(0,0,0,0.75);
                padding: 0 0.5rem;
                border-radius: 10px;
            }

            &:nth-child(2) {
                bottom: 4px;
                right: 2%;
                font-size: 32px;
                text-shadow: 2px 2px #292828e6;
            }
        }
    }

    img {
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border: 1px floralwhite solid;
        width: 640px;
		max-width: 75vw;
		border-bottom: 0;
		border-top: 0;
	}

	@include breakpoint('>=medium') {
		.description {
			margin-top: -0.4em;
		}
	}
}
