.m-imgur-post {

	h2 {
		border-style: solid;
		border-radius: 5px;
		border-color: white;
		border-width: 1px;
		border-bottom-width: 0px;
		margin: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
        width: 640px;
    	max-width: 75vw;
	}

	a {
        position: relative; 
        border: none;
		cursor: pointer;

        span {
            position: absolute;

            &:nth-child(1) {
                font-size: 40px;
                font-weight: 500;
                text-shadow: 2px 2px #292828e6;
                background-color: rgba(0,0,0,0.75);
                padding: 0 0.5rem;
                border-radius: 5px;
            }

            &:nth-child(2) {
                bottom: 4px;
                right: 2%;
                font-size: 32px;
                text-shadow: 2px 2px #292828e6;
            }
        }
    }

    img {
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		border-bottom: 1px white solid;
        width: 640px;
   		max-width: 75vw;
	}
}
