<footer class="footer container my-5">

    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 py-5 text-center white-text elegant-color z-depth-1 rounded">
		{{ content.footer }}
    </section>
    <!--Section: Content-->

  </footer>
