#logo-img,
#leaderboard,
#about,
#logo-img {
    display: none;
}

.byline {
    text-decoration: none;
    color: unset;
}

.vienna img[src*='vienna-bike-tag'] {
    width: 200px;
    height: 80px;
}
