<html>

<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119956764-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-119956764-1');
	</script>

	<title>BIKE TAG</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="http://biketag.org" />
	<meta property="og:title" content="BikeTag!" />
	<meta property="og:description"
		content="BikeTag.org is a place for people to see the most recent Bike Tags in their city and participate in the game in an easy and simple way, without needing to login to anything." />

	<link rel="stylesheet" href="css/fa-all.min.css" type='text/css'>
	<style>
		@font-face {
			font-family: horrible;
			src: url('assets/fonts/Theorevil.woff2');
		}

		body {
			font-family: horrible;
			font-size: 3rem;
			text-align: center;
			background-color: rgb(27, 31, 34, 0.4);
		}

		div {
			color: darkslateblue;
		}

		a {
			color: darkslateblue !important;
		}

		a:visited {
			color: unset;
		}

		a span {
			display: none !important;
		}

		a:hover span {
			display: inline !important;
			margin-right: 15px;
			margin-left: 15px;
		}

		a {
			text-decoration: none;

		}

		img {
			max-width: 50%;
		}

		#mute {
			opacity: 0.8;
		}
	</style>
</head>

<body>
	<audio id="biketag-jingle">
		<source src="<%= easter.jingle %>" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>


	<img src="none.png" data-src="<%= images.header %>"></img>
	<span id="mute" class="fas fa-volume-down"></span>
	<p>Check out the biketag games in these cities!</p>
	<div></div>

	<script>
		(function () {
			const logo = document.getElementsByTagName('img')[0]
			logo.src = logo.dataset.src

			const div = document.getElementsByTagName('div')[0]
			const subs = ("<%= supportedRegions %>").split(',') //['portland', 'denver']

			subs.forEach(function (sub) {
				const link = document.createElement('a')
				link.href = `${window.location.protocol}//${sub}.${window.location.host}`
				link.innerHTML =
					`<span class="fas fa-bicycle"></span>${sub}<span class="fas fa-bicycle"></span>`

				div.appendChild(link)
				div.appendChild(document.createElement('br'))
			})

			const mute = document.getElementById('mute')
			mute.addEventListener('click', function () {
				const jingle = document.getElementsByTagName('audio')[0]
				if (this.className.indexOf('down') !== -1) {
					this.className = "fas fa-volume-mute"
					jingle.play()
				} else {
					this.className = "fas fa-volume-down"
					jingle.pause()
				}
			})

			const jingle = document.getElementsByTagName('audio')[0]
			jingle.volume = 0.5

			jingle.play().then(function () {
				mute.className = "fas fa-volume-mute"
			})

		})()
	</script>

	<!-- For local development hotloading -->
	<script src="/reload/reload.js"></script>
</body>

</html>
