#logo-img,
#leaderboard,
#about,
#logo-img {
    display: none;
}

.byline {
    text-decoration: none;
    color: unset;
}

.vienna img[src*='vienna-bike-tag'] {
    width: 200px;
    height: 80px;
}

.big-tagline {
	span {
		display: block;
		filter: invert(0) drop-shadow(0px 3px 15px white) hue-rotate(-20deg);
		
		&:nth-child(1) {
			color:rgba(208,183,41, 1);
		}
		&:nth-child(2) {
			color:rgba(0,121,56, 1);
		}
		&:nth-child(3) {
			color:rgb(152,58,83, 1);
		}
	}
}
