<!DOCTYPE HTML>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119956764-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-119956764-1');
		</script>

		<title>BIKE TAG</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
		<script src="assets/js/modernizr.custom.80028.js"></script>
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/views.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body>
		<!-- Priority Scripts -->
		<script>
			(function(w, d){
				var b = d.getElementsByTagName('body')[0];
				var s = d.createElement("script"); s.async = true;
				var v = !("IntersectionObserver" in w) ? "8.7.1" : "10.5.2";
				s.src = "https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/" + v + "/lazyload.min.js";
				w.lazyLoadOptions = {}; // Your options here. See "recipes" for more information about async.
				b.appendChild(s);
			}(window, document));
		</script>

		<!-- Wrapper -->
			<div id="wrapper">
				<div id="countChanger">
					<nav>
						<ul>
							<li><a href="?count=10">10</a></li>
							<li><a href="?count=50">50</a></li>
							<li><a href="?count=all">all</a></li>
						</ul>
					</nav>
				</div>
				<!-- Header -->
					<header id="header">
						<div class="logo spin">
							<span class="icon fa-bicycle"></span>
						</div>
						<div class="headingText">
							<h1>BIKE</h1>
							<h1>TAG</h1>
						</div>
						<div class="content">
							<div class="inner">
							</div>
						</div>
						<nav>
							<ul>
								<li><a id="tagItButton" href="#tagit">Tag it!</a></li>
								<li><a href="#howto">How To</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="#contact">Contact</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="tagit">
							</article>

						<!-- Work -->
							<article id="howto">
							</article>

						<!-- About -->
							<article id="about">
							</article>

						<!-- Contact -->
							<article id="contact">
							</article>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">BikeTag is an open source website <a href="https://github.com/KenEucker/biketag-website">developed on github </a></p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/imgurIntegration.js"></script>
			<script src="assets/js/redditIntegration.js"></script>
	</body>
</html>
