<html>

<body>
	<h1>Create a BikeTag of your own!</h1>
	<article id="tagit">
	</article>

	<script src="js/biketag.js"></script>
	<script>
		window.biketag.init('#tagit')
	</script>

</body>

</html>
