<div>
    <div>
        <div>
            <h2>
                HOW TO PLAY <br />
                BIKETAG
            </h2>
            <hr />
        </div>
        <div>
            <h3>HOW TO PLAY</h3>
            <p>
                You must discover the “mystery location” and take a picture of your bike there. Then you
                must bike to a new "mystery location" of your choosing and take a picture of your bike
                there. Submit both pictures to the <strong>TAG IT!</strong> section. NOTE: you may not
                "reserve" being "IT" by immediately posting a photo of your bike in the old "mystery
                location" before finding and posting a picture of the new "mystery location."
            </p>
            <h3>THE RULES</h3>
            <p>
                Mystery locations must be freely accessible to the public and by bicycle. Mystery
                locations should be unique/interesting/identifiable. Tags that include only nondescript
                features (blank walls) are not acceptable and will be removed. Mystery locations may not
                be mobile objects (food trucks, for example). Discovered mystery locations and new mystery
                locations must be tagged with the same bicycle, on the same ride. Pictures of discovered
                mystery locations and new mystery locations must be posted at the same time.
            </p>
            <p></p>
            <p>
                <span id="easter">Get these instructions via audio</span>
                <audio id="biketag-jingle">
                    <source src="/public/media/biketag-pdx-jingle-1.mp3" type="audio/mpeg" />
                </audio>
            </p>
        </div>
    </div>
</div>