<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,  user-scalable=yes" />
  <meta name="referrer" content="no-referrer" />
  <title>BikeTag</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
  <script type="module" crossorigin src="/assets/index.b2c36498.js"></script>
  <link rel="modulepreload" href="/assets/vendor.4a4888af.js">
  <link rel="stylesheet" href="/assets/index.03814353.css">
<link rel="manifest" href="/manifest.webmanifest"></head>

<body>
  <div id="app"></div>
  
</body>

</html>
