<div>
    <div>
        <div>
            <h2>
                DONATE THE<br />
                BIKETAG.ORG<br />
                PROJECT
            </h2>
            <hr />
        </div>
        <div>
            <p>
                BikeTag.Org was created in May of 2018 by a team of two in Portland, Oregon. The code that
                runs this website is open source and tracked on
                <a href="https://github.com/KenEucker/biketag-website">github</a>. This code is free to
                use or modify and is maintained by volunteers all over the world.
            </p>
            <p>
                <a alt="donate" href="https://www.patreon.com/BikeTag">
                    Donate the BikeTag Project on Patreon!
                </a>
            </p>
            <p>
                The web application that serves [City].BikeTag.Org uses the following platforms either
                through console administration or API consumption. These technologies are used at minimum
                levels to reduce costs, in some cases to $0. As BikeTag.Org scales, this technology list
                may grow and the costs to maintain these services will increase.
            </p>
            <ul>
                <li class="list-unstyled">Google Cloud Platform</li>
                <li class="list-unstyled">Google Domains</li>
                <li class="list-unstyled">Imgur</li>
                <li class="list-unstyled">Reddit</li>
            </ul>
            <p>
                Operating costs currently range between $25-$40/month, excluding one-off purchases for
                stickers and other merch. For a full breakdown of expenses, see our
                <a href="https://biketag.bike/biketag-expenses/">expenses report</a>.
            </p>
            <p>Donations to date: $123.33</p>
        </div>
    </div>
</div>