html,
body,
.inner-content {
    height: 100vh;
    overflow: hidden;
}

body {
    background: url('public/img/tree-background.jpg') no-repeat center center;
    background-size: cover;
}

header {
    .navbar-brand img {
        max-height: 3.5em;
    }
    .navbar-nav .nav-item {
        a.nav-link {
            color: black;

            &:hover {
                color: #1266f1;
            }
        }
    }
    .top-nav-collapse {
        background-color: #3f51b5 !important;
    }
    .navbar:not(.top-nav-collapse) {
        background: transparent !important;
    }
    @media (max-width: 768px) {
        .navbar:not(.top-nav-collapse) {
            background: #3f51b5 !important;
        }
    }
    @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
            background: #3f51b5 !important;
        }
    }
}

.view {
    .card {
        background-color: rgba(229, 228, 255, 0.2);
        margin-top: 30px;

        .md-form label {
            color: #ffffff;
        }
        h6 {
            line-height: 1.7;
        }

        &.wow {
            background-color: rgba(190, 190, 190, 0.5);
        }
    }

    .md-form input[type='text']:focus:not([readonly]),
    .md-form input[type='password']:focus:not([readonly]) {
        border-bottom: 1px solid #8edef8;
        box-shadow: 0 1px 0 0 #8edef8;
    }
    .md-form input[type='text']:focus:not([readonly]) + label,
    .md-form input[type='password']:focus:not([readonly]) + label {
        color: #8edef8;
    }

    .md-form .form-control {
        color: #fff;
    }

	.form-signin {
		max-width: 35em;
		width: 85vw;
	}
	
	form.container {
		> * {
			margin-top: 1rem;
		}
		
		.form-outline {
			position: relative;

			.form-control {
				background-color: rgba(255, 255, 255, 0.2);
				border-top-color: transparent;
			}
		
			.form-label {
				position: absolute;
				top: 0;
				left: 0.75rem;
				padding-top: 0.37rem;
				pointer-events: none;
				-webkit-transform-origin: 0 0;
				transform-origin: 0 0;
				-webkit-transition: all 0.2s ease-out;
				transition: all 0.2s ease-out;
				color: rgba(0, 0, 0, 0.6);
				margin-bottom: 0;
				font-size: 0.9rem;
			}
		}
	}

    .sso-buttons {
        button {
            font-weight: 100;
            color: black;
			background-color: white;
			padding: 0;
			width: 2.5rem;
			margin: .375rem;
			height: 2.5rem;
			border-radius: 100%;
			border: none;

            &:hover {
				filter: drop-shadow(0px 0px 5px black);
				transition: filter 0.25s;
			}
			
            i {
				font-size: 2.5rem;
    			border-radius: 100%;
			}
		
			&.redditBot {
				display: none;
			}

			&.reddit {
				i {
					color: #FF4501;
				}
			}
		
			&.imgur {
                background-image: url('/public/img/imgur-icon.svg');
                background-repeat: no-repeat;
                background-position: center;
				background-size: cover;
				background-color: #1CB76E;
			}
		
			&.google {
				background-color: #4284F7;
				i {
					filter: invert(1);
				}
			}
		}
		
		img {
			max-width: 240px;
			min-height: 52 px;
			border-radius: 7px;
		}
	
		a {
			margin-left: -30px;
			span {
				vertical-align: sub;
				margin-left: -110px;
				font-size: 1.45em;
				color: white;
			}
		}
    }
}
