<p>
	<span id="easter">Get these instructions via audio</span>
	<audio id="biketag-jingle">
		<source src="{{ page.easter.jingle | asset_url }}" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
</p>
