<p>
	<span id="easter" style="font-style: italic;">Get these instructions via audio</span>
	<audio id="biketag-jingle">
		<source src="{{ page.easter.jingle }}" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
</p>
