<p>
    BikeTag is a mystery photo tag game. BikeTag.Org is a place for people to see the most recent
    Bike Tags in their city and participate in the game in an easy and simple way, without needing
    to login to anything. The game was originally found on /r/BikingATX, that was then adopted by
    /r/bikeLA, that was then adopted by /r/chibike. For reddit credit: /u/america_yall of
    /r/BikingATX who started the first run of the game.
</p>
<p><a href="https://patreon.com/biketag">Support the BikeTag Project on Patreon</a><br /></p>
