<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "page/meta" %}
		{% include "page/css" %}
	</head>

	<body>

		<section>

			{% include "biketag/how-to-story" %}

		</section>

	</body>
</html>
