body {
    font-family: Arial, sans-serif;
    text-align: center;
    max-width: 1170px;
    margin: 3rem auto;
    background-color: #101010;
    color: #fff;
}

* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 3rem;
}

.images {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-gap: 7.5px;
    grid-template-columns: 50% 50%;
}

@media (min-width: 580px) {
    .images {
        grid-template-columns: 25% 25% 25% 25%;
    }
}
img {
    height: auto;
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}
.template {
    transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    opacity: 0;
    position: relative;
    background: #707070;
}

.template p {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    padding: 25px 10px 10px 10px;
}

.template.animate {
    transform: scale(1);
    opacity: 1;
}

#gallery-pagination {
    margin: 30px 0;
}

#btnNext,
#btnPrevious {
    background: transparent;
    color: #609ea5;
    padding: 8px 28px;
    border: 0;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

#gallery-pagination #page {
    margin-left: 15px;
    margin-right: 15px;
    color: #707070;
    font-style: italic;
    font-size: 13px;
}

.sr-only {
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

#gallery-dots {
    margin-bottom: 15px;
}

.gallery-dot {
    background: #609ea5;
    border: 0;
    padding: 0;
    width: 50px;
    height: 8px;
    margin: 5px;
    opacity: 0.4;
    outline: none;
    cursor: pointer;
}

.gallery-dot.active {
    opacity: 1;
}

#gallery-pagination {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: start;
}

/* style for demo purposes   */
* {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .modal-content-wrapper .image-modal-content {
	flex: 0 0 30%;
	cursor: pointer;
	transition: 300ms ease-out;
	margin-right: 20px;
	margin-bottom: 40px;
  }
  @media (max-width: 992px) {
	.modal-content-wrapper .image-modal-content {
	  flex: 0 0 45%;
	}
  }
  @media (max-width: 550px) {
	.modal-content-wrapper .image-modal-content {
	  flex: 0 0 100%;
	}
  }
  .modal-content-wrapper .image-modal-content:hover {
	transform: scale(1.03);
	transition: 300ms ease-in;
  }
  
  /* modal popup styles */
  .image-modal-popup {
	position: fixed;
	overflow: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	animation: 500ms fadeIn;
	display: none;
  }
  
  @keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
  .image-modal-popup .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
	margin: auto;
	margin-top: 30px;
	position: relative;
  }
  
  .image-modal-popup .description {
	text-align: center;
  }
  .image-modal-popup img {
	width: 80%;
	max-height: calc(100vh - 150px);
	margin-bottom: 10px;
	cursor: pointer;
  }
  .image-modal-popup span {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 4rem;
	color: red;
	cursor: pointer;
  }
  .image-modal-popup p {
	margin: 5px auto;
	font-size: 1.1rem;
  }
  .image-modal-popup a {
	margin-bottom: 5px;
	display: inline-block;
	color: #222;
	font-weight: 500;
	text-decoration: none;
	background: #fff;
	margin: 10px 10px;
	padding: 10px 15px;
	border-radius: 6px;
  }
  
